@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.header{
  font-size: 35px;
  font-weight: 700;
}

.wrapper{
  display: flex;
  position: relative;
  width: 100%;
}

.wrapper .sidebar{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: #000000;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #ffffff;
  display: block;
}

.wrapper .sidebar ul li:hover{
  background-color: #717171;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;

  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background-color: lightgrey;
  color: #000000;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

/*Farver */
.xx-swatches {
  padding: 0;
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 2em;
}

.xx-swatch {
  float: left;
  width: 15em;
  margin-right: 1em;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 1em;
  background-color: #fff;
  height: 13em;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  border: solid grey 2px;
}

.xx-swatch-preview {
  height: 5em;
  width: 103%;
  display: table-cell;
  margin-bottom: 0.5em;
  border-radius: 3px 3px 0 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  line-height: 1.1;
  vertical-align: middle;
  overflow: hidden;
  float: none;
  position: absolute;
  top: -0.25em;
  left: -1.5%;
  right: -1.5%;
  background-color: black;
  color: white;
}

.xx-swatch-details {
  padding: 0.7em 5% 0;
  margin-bottom: 0.5em;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 90%;
  color: #999;
}

/*Farver Slut */



/*UI PATTERNS START*/
/*NAME PLACEHOLDER*/
input[type=text]{
  width:50%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  border-radius: 8px;
  transition:.3s;
}

input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

/* Calender picker */


.ui-datepicker-trigger{
    width: auto;
    height: 30px;
    margin-bottom: -10px;
}

#datepicker{
    border-radius: 8px;
    margin-left: 20px;
    width: 150px;
}


/*til alt content på styleguiden*/
.content-wrapper{
  width: auto;
  background-color:#7a7a7a;
  margin-left: 200px;
  padding: 20px;
}


/*TOGGLE KNAP DESIGN*/
input[type="checkbox"] {
  position: relative;
  width: 70px;
  height: 25px;
  background: #bdc3c7;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: .4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*EFTER KLIK TOGGLE KNAP*/
input:checked[type="checkbox"] {
  background: #00ff00;
}

/*KNAPPEN INDEN CLICK.*/
input[type="checkbox"]::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .4s;
}

/*Styrer hvor langt toggleknapper rykker*/
input:checked[type="checkbox"]::before {
  left: 44px;
}

/*knappen*/
.toggle {
  position: relative;
  display: inline;
}

/*Label i toggle knappen*/
label {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  pointer-events: none;
}

/*TÆNDT KNAP*/
.onbtn {
  bottom: 10px;
  left: 10px;
}

/*SLUKKET KNAP*/
.ofbtn {
  bottom: 10px;
  right: 10px;
  color: #34495e;
}
/*toggle switch -done*/

/*Brugermenu*/
.burger-nav{
  width: 50px;
  height: 50px;
}
.styleguidewheel{
  display: flex;
  justify-content: center;
  align-items: center;

}
.wheelsg{
  width: 60%;
  height: auto;
}


/* Navigationsbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: #333;
}

.navelement1 {
  display: flex;
  align-items: center;
}

.navelement1 .logo {
  margin-left: 10px;
  margin-right: 10px;
}

.navelement1 .navmenu {
  display: flex;
  list-style: none
}

.navelement1 .navmenu li a{
  font-family: open sans;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 20px 15px 15px 15px;
}
.navelement1 .navmenu li a:hover {
  background-color: #666;
}

.navelement2 {
  display: flex;
  align-items: center;
}

.navikoner {
  display: flex;
  list-style: none;
}

.navikoner li a {
  color: #fff;
  padding: 20px 15px 17px 15px;
}

.navikoner li a:hover {
  background: #666;
}

.plugandlog {
height: 30px;
border-radius: 5px;
border-style: none;
margin-right: 15px;
}

.navprofildropdown {
  display: flex;
  flex-direction: column;
  margin-top: 79px;
}

.navprofildropdown ul {

}

.navprofildropdown a {
  color: white;
  font-family: open sans;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navprofildropdown ul li {
  list-style: none;
  color: white;
  width: 100%;
  height: 30px;
  background: #333;
  padding-top: 10px;
}

.navprofildropdown li:hover {
  background-color: #666;
}

.navprofil {
  padding: 13px 15px 17px 15px;
}

.navprofil:hover {
  background-color: #666;
}

.navprofil a{
  font-family: open sans;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.navprofil a i {
  color: #0f0;
  padding-left: 70px;
}

#dropdown {
  opacity: 0;
}

#dropdown.active {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .navelement1 ul {
    opacity: 0;
    pointer-events: none;
  }
  .navelement2 {
    opacity: 0;
    pointer-events: none;
  }

}
