*{
    padding: 0;
    margin: 0;
}

body{
    background-color: sandybrown;
    font-family: Segoe UI; 
}
html{
    min-width: 100vh;
}


#newresource{
  width: 500px;
  overflow: hidden;
  background: #f1f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  height: auto;
}

#newresource p{
  color: #333333;
  font-size: 40px;
  margin: 10px;
  font-weight: bold;
}

.name-newresource{
  width: 90%;
  height: 50px;
  background-color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  flex-direction: row;
  box-shadow: 1px 2px 11px 0px rgba(183, 183, 183, 0.5);
  align-items: center;
}

.type-newresource{
  width: 90%;
  height: 50px;
  background-color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  box-shadow: 1px 2px 11px 0px rgba(183, 183, 183, 0.5);
}

.group-newresource{
  width: 90%;
  height: 50px;
  background-color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  box-shadow: 1px 2px 11px 0px rgba(183, 183, 183, 0.5);
}

#name-placeholder[type=text]{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  border-radius: 8px;
  transition:.3s;
}

#name-placeholder[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

.name-placeholder{
    margin-right: 20px;
}



.add-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #32CD32;
    border-radius: 6px;
    cursor: pointer;
}
.plus-svg{
    width: 60%;
    height: 60%;
}




















/*CSS MARCUS */
.slide-container{
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.slide-container-wrapper{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    flex-direction: row;
}

.slide{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
}

.slide-aktiv{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #337AB7;
    color: rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
}

.sliderp-aktiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.sliderp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

.next-btn-popup {
    padding: auto;
    width: 105px;
    height: 52px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #337AB7;
    color: rgb(255, 255, 255);
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,.5);
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 750;
    border-radius: 30px;
    cursor: pointer;
    }


    .group-newresource-dc{
        width: 90%;
        height: auto;
        background-color: #fff;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        flex-direction: column;
        box-shadow: 1px 2px 11px 0px rgba(183, 183, 183, 0.5);
      }

    .resource-wrapper-placeholder{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .description-wrapper{
        padding-top: 15px;
        display: flex;
        width: 90%;
        justify-content: start;
        align-items: center;
        margin: auto;
    }

    .comment-checklist-wrapper h4 {
        font-size: 20px;
        font-family: 'Segoe UI';
        font-weight: bold;
        color: white;
        }

        .comment-container {
        display: flex;
        height: 100px;
        width: 100%;
        background: white;
        border-radius: 15px;
        margin: 15px;
        }

        .comment-container textarea {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        border-radius: 15px;
        padding: 15px;
        resize: none;
        }
